.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.mobile-container {
	position: relative;
	width: 375px;
	height: 657px;
	margin-top: -25px;
	background-color: #fff;
	background-image: url('../assets/images/tinderbg_2.jpg');
	background-size: cover;
	overflow: hidden;
}
